body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Major Mono Display", monospace;
  background-color: #000;
  color: white;
}

h1 {
  font-size: 60px;
  padding-top: 100px;
}

h3 {
  padding-top: 60px;
  text-align: center;
}

footer {
  text-align: center;
  font-size: 10px;
}

.fav-photo {
  text-align: center;
  width: 220px;
  padding: 10px;
}

.display-image {
  max-width: 500px;
  margin: 10px 0 0 0;
  border: 1px solid #000;
  float: left;
}

.drink-name {
  display: inline;
}
.description {
  margin: 10px 10px 0 0;
  padding: 0 0 0 8px;
  width: 400px;
  float: left;
}

.each-item {
  padding-bottom: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  filter: grayscale(100%);
  opacity: 30%;
  transition: all 0.4s ease-in-out;
}

.like-button {
  font-size: 60px;
}

.intro {
  font-size: 19.5px;
}

.light-mode {
  background-color: white;
  color: black;
}

#front-page {
  height: 100%;
  text-align: center;
  padding-bottom: 200px;
}

#info {
  display: inline;
  align-content: normal;
}

#full-info {
  display: block;
}

#all-info {
  padding-top: 30px;
  height: 100%;
}

#logo {
  font-size: 40px;
}

#fav-drinks {
  margin-bottom: 20px;
}

#fav-section {
  height: 100%;
}

#github-link {
  color: #fff;
}
