h1 {
  font-size: 60px;
}
#front_page {
  text-align: center;
  color: black;
}
.display-image {
  max-width: 300px;
}
#info {
  display: inline;
}

#full-info {
  display: block;
}
.drink-name {
  display: inline;
}
