html,
body {
  height: 100%;
  margin: 0;
}

body {
  padding: 0;
  font-family: "Major Mono Display", monospace;
  background-color: #000;
  color: white;
}

h1 {
  font-size: 60px;
  padding-top: 100px;
}

h3 {
  padding-top: 60px;
  text-align: center;
}

footer {
  text-align: center;
  font-size: 10px;
}

.fav-photo {
  text-align: center;
  width: 220px;
  padding: 10px;
}

.display-image {
  max-width: 500px;
  margin: 10px 0 0 0;
  border: 1px solid #000;
  float: left;
}

.drink-name {
  display: inline;
}
.description {
  margin: 10px 10px 0 0;
  padding: 0 0 0 8px;
  width: 400px;
  float: left;
}

.each-item {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  filter: grayscale(100%);
  opacity: 30%;
  transition: all 0.4s ease-in-out;
}

.like-button {
  font-size: 60px;
}

.like-button:hover {
  cursor: pointer;
}

.intro {
  font-size: 19.5px;
}

.light-mode {
  background-color: white;
  color: black;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #000000;
  margin: auto;
  padding: 20px;
  border: 0.5px solid #888;
  width: 50%;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#front-page {
  height: 100vh;
  text-align: center;
}

#info {
  display: inline;
  align-content: normal;
}

#full-info {
  display: block;
}

#all-info {
  padding-top: 30px;
  height: 100%;
}

#logo {
  font-size: 40px;
}

#logo:hover {
  cursor: pointer;
}

#light-mode-button:hover {
  cursor: pointer;
}

#fav-button:hover {
  cursor: pointer;
}

#fav-drinks {
  margin-bottom: 20px;
}

#fav-section {
  height: 100%;
}

#github-link {
  color: #fff;
}

#info-modal {
  text-align: center;
}
#modal-photo {
  width: 100%;
}
